html body {
	font-family: 'Lato', sans-serif;
	background-color: #efefef;
}
.clearfix::before, .clearfix::after {
	content: " ";
	display: table;
	clear: both;
}


/*
 * Site Header
 */
	.site-header {
		margin-bottom: 5vw;
	}
	/* Site Header Background */
		.site-header-bg {
			height: 515px;
			top: 0;
			left: 0;
			right: 0;
			z-index: -1;
			position: absolute;
			background-size: cover;
			background-color: #242832;
			background-repeat: no-repeat;
			background-position: center;
		}
		.site-header-bg::before {
		    content: '';
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    position: absolute;
		    background-color: rgba(44, 51, 64, 0.8);
		}
	/* Site Header Menu */
		.site-header-menu-scroll {
			-webkit-transition: all 0.5s ease-out;
			-moz-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
			position: fixed;
			z-index: 999;
			right: 0;
			left: 0;
			top: 0;
			background-color: #fff;
			color: #000;
			box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
		}
		.site-header-menu {
			-webkit-transition: all 0.5s ease-out;
			-moz-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			color: #fff;
		}
		.site-header-menu-nav {
			width: 100%;
			max-width: 960px;
			font-size: 35px;
			font-weight: 800;
			margin: 0 auto;
			padding: 10px 0 25px 0
		}
		.site-header-menu-nav ul {
			display: -webkit-flex;
			display: flex;
		}
		.site-header-menu-nav ul li {
			position: relative;
			flex: 1 1 100%;
			text-align: center;
		}
		.site-header-menu-nav ul li a {
			position: relative;
			padding: 5px 0;
			cursor: pointer;
			text-transform: uppercase;
			font-size: 12px;
		}
		.menu-item a:hover:after {
			width: 100%;
		}
		.menu-item a:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 0;
			height: 3px;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			-webkit-transition: width 0.2s ease-out;
			-moz-transition: width 0.2s ease-out;
			transition: width 0.2s ease-out;
			background-color: #07cb79;
		}
		.menu-item-vp a:after {
			width: 100%;
		}

/*
 * Site Content
 */
	.site-content {
		width: 100%;
		max-width: 960px;
		margin: 0 auto;
	}
	/* Default Content */
		.site-content-title {
			font-size: 35px;
			font-weight: 600;
			text-align: center;
			margin-bottom: 1em;
			margin-top: 2.5em;
		}
		.site-content-box {
			background: #fff;
			width: 100%;
			box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
			border-radius: 2px;
		}
	
	/* Site Content About */
		.site-con-abotentut-box {
			background: #fff;
			width: 100%;
			box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
			border-radius: 2px;
		}
		.site-content-about-me {
			display: -webkit-flex;
			display: flex;
			background-color: #fff;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
		}
		.site-content-about-pic {
			flex: 2 2 100%;
			margin: 30px;
			display: -webkit-flex;
			display: flex;
			-webkit-align-items: center;
   			align-items: center;
		}
		.site-content-about-picbox {
			width: 100%;
		}
		.site-content-about-info {
			flex: 1 1 100%;
			margin: 30px 30px 0 30px;
		}		
		.site-content-about-info-hello {
			margin-top: 10px;
			margin-bottom: 20px;
		}
		.site-content-about-info-hello a {
			padding: 5px 10px;
			font-weight: 700;
			color: #fff;
			background: #07cb79;
			border-radius: 2px;
			cursor: default;
		}
		.site-content-about-info-im {
			cursor: default;
			font-size: 32px;
			font-weight: 300;
		}
		.site-content-about-info-im b {
			font-weight: 600;
		}
		.site-content-about-info-dd {
			line-height: 2;
			font-weight: 400;
		}
		.site-content-about-info-profile {
			border-bottom: 1px solid #dedede;
			padding-bottom: 20px;
			margin-bottom: 20px;
		}
		.site-content-about-info-list li {
			padding-bottom: 13px;
		}
		.site-content-about-info-list li b {
			display: block;
			float: left;
			width: 25%;
			font-weight: 600;
		}
		.site-content-about-info-list li span {
			display: block;
			float: left;
			width: 75%;
			color: #9da0a7;
		}
		.site-content-about-social {
			background: #07cb79;
			text-align: center;
			font-size: 20px;
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
		}
		.site-content-about-social-icon a {
			color: #fff;
		}
		.site-content-about-social-icon {
			padding: 25px;
			cursor: pointer;
			display: inline-block;
		}
		.site-content-about-download button {
			color: #3d4451 !important;
			border: 1px solid #cbcdcf;
			background: transparent;
			text-transform: uppercase;
			padding: 20px 55px;
			font-weight: 600;
			display: block;
			cursor: pointer;
			margin: 30px auto;
			border-radius: 2px;
			box-shadow: none;
			-webkit-transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
		}
		.site-content-about-download button:hover {
			box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.17);
		}
		
		/* Site Content Skills */
			.site-content-skills {
				opacity: 0;
				transition: opacity 1s cubic-bezier(.79,.14,.15,.86) 200ms;
			}
			.site-content-skills-box {
				background: #fff;
				width: 100%;
				padding-bottom: 30px;
				display: -webkit-flex;
				display: flex;
				-webkit-flex-flow: row wrap;
		   		flex-flow: row wrap;
		   		border-radius: 2px;
				box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
			}
			.site-content-skills-box-bar {
				flex: 1 1 40%;
				margin: 30px 30px 0 30px;
			}
			.site-content-skills-box-bar-b {
				height: 5px;
				position: relative;
			}
			.site-content-skills-box-bar-b:after {
				background-color: #07cb79;
				content: '';
				opacity: 0.2;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				z-index: 0;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
			}
			.site-content-skills-box-bar-f {
				background-color: #07cb79;
				height: 100%;
				width: 0%;
				display: block;
				position: relative;
				z-index: 1;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				transition: width 1s cubic-bezier(.79,.14,.15,.86) 200ms;
			}
			.site-content-skills-box-bar b {
				float: left;
				padding-bottom: 10px;
			}
			.site-content-skills-box-bar p {
				float: right;
			}
			.site-content-about-text {
				width: 90%;
				margin: 0 auto;;
				font-size: 1.3em;
				font-weight: 300;
				line-height: 1.7;
				text-align: center;
			}
		
		/* Site Content Portfolio */
			.site-content-port {
				opacity: 0;
				transition: opacity 1s cubic-bezier(.79,.14,.15,.86) 200ms;
			}
			.buttongroup  {
				text-align: center;
			}
			.buttongroup h2 {
				display: inline;
				margin: 1em 1.2em;
				cursor: pointer;
				position: relative;
			}
			.buttongroup h2 a {
				padding: 5px 0;
				cursor: pointer;
				text-transform: uppercase;
				font-size: 14px;
			}
			.buttongroup h2 a:hover:after {
				width: 100%;
			}
			.buttongroup h2 a:after {
				content: "";
				position: absolute;
				left: 0;
				bottom: -3px;
				width: 0;
				height: 3px;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				-webkit-transition: width 0.2s ease-out;
				-moz-transition: width 0.2s ease-out;
				transition: width 0.2s ease-out;
				background-color: #07cb79;
			}
			.is-checked a:after {
				width: 100% !important;
			}
			.poste {
				width: 48%;
				text-align: center;
				max-width: 50%;
				margin: 1%;
				box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
			}
			.projectsarchive {
				margin-top: 1.5em;
			}
			.postimg {
				background-size: cover;
				background-position: center center;
				margin: 0 auto;
				width: 100%;
				height: 13vw;
			}
			.site-content-port-load-button {
				color: #3d4451 !important;
				border: 1px solid #cbcdcf;
				background: transparent;
				text-transform: uppercase;
				padding: 13px 15px;
				font-weight: 600;
				font-size: 1em;
				display: block;
				cursor: pointer;
				margin: 2em auto 0 auto;
				border-radius: 2px;
				box-shadow: none;
				-webkit-transition: all 0.3s ease-out;
				-moz-transition: all 0.3s ease-out;
				transition: all 0.3s ease-out;
			}
			.site-content-port-load-button:hover {
				box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.17);
			}
			.site-content-port-overlay-bg {
				display: none;
				position: fixed;
				width: 100vw;
				height: 100vh;
				background-color: #000;
				opacity: 0;
				top: 0;
				left: 0;
				z-index: 999;
			}
			.site-content-port-overlay {
				display: none;
				opacity: 0;
				position: fixed;
				top: 5em;
				left: 50%;
				margin-left: -25%;
				width: 50%;
				z-index: 9999;
			}
			.site-content-port-overlay-content {
				overflow-y: scroll;
				overflow-x: hidden;
				background-color: #fff;
				border-radius: 2px;
				z-index: 9999;
				height: 85vh;
				width: 100%;
				margin: 0 auto;
				z-index: 99999;
			}
			.site-content-port-overlay-image-box {
				position: relative;
			}
			.site-content-port-overlay-image {
				width: 100%;
				height: 50vh;
				background-size: cover;
				background-position: center;
			}
			.site-content-port-overlay-title {
				margin: 0 5%;
				font-size: 2em;
				line-height: 2.5;
				font-weight: 600;
			}
			.site-content-port-overlay-text {
				margin: 0 5% 5% 5%;
			}
			.site-content-port-overlay-text h5 {
				font-weight: 600;
				margin-top: 0.5em;
				text-align: center !important;
			}
			.site-content-port-overlay-text h4 {
				font-weight: 600;
				line-height: 2;
				margin-top: 0.5em;
			}
			.site-content-port-overlay-text strong {
				font-weight: 800;
			}
			.site-content-port-overlay-close {
				position: absolute;
				left: auto;
				right: -55px;
				width: 45px;
				height: 45px;
				border: 2px solid #767475;
				border: 2px solid rgba(255, 255, 255, 0.3);
				border-radius: 2px;
				-webkit-transition: all 0.3s ease-out;
				-moz-transition: all 0.3s ease-out;
				transition: all 0.3s ease-out;
				font-size: 2.1em;
				color: #fff;
				text-align: center;
				cursor: pointer;
			}
					
			/* Site Content Services */
			.site-content-services {
				opacity: 0;
				transition: opacity 1s cubic-bezier(.79,.14,.15,.86) 200ms;
			}
			.site-content-services-box {
				background: #fff;
				border-radius: 2px;
				display: -webkit-flex;
				display: flex;
				padding: 2em;
				margin-bottom: 4em;
				box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
			}
			.site-content-services-box span {
				flex: 1 1 100%;
				text-align: center;
			}
			.site-content-services-box i {
				color: #07cb79;
				font-size: 3em;
				line-height: 1.8;
			}
			.site-content-services-box h1 {
				font-size: 1.3em;
				line-height: 1;
				text-transform: uppercase;
				font-weight: 600;
			}
			.site-content-services-box h2 {
				font-size: 1em;
				line-height: 2.5;
				color: #07cb79;
			}
		/* Site Content Experience/Education */
			.site-content-exp {
				opacity: 0;
				transition: opacity 1s cubic-bezier(.79,.14,.15,.86) 200ms;
			}
			.site-content-edu {
				opacity: 0;
				transition: opacity 1s cubic-bezier(.79,.14,.15,.86) 200ms;
			}
			.site-content-int {
				opacity: 0;
				transition: opacity 1s cubic-bezier(.79,.14,.15,.86) 200ms;
			}
			.site-content-con {
				opacity: 0;
				transition: opacity 1s cubic-bezier(.79,.14,.15,.86) 200ms;
			}
			.site-content-edu-box-main {
				display: -webkit-flex;
				display: flex;
				-webkit-align-items: center;
			   	align-items: center;
			}
			.site-content-edu-box {
				flex: 1 1 100%;
				background: #fff;
				margin: 0 auto;
				border-top: 5px solid #07cb79;
				width: 35%;
				box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
				border-radius: 2px;
			}
			.site-content-edu-box h1 {
				color: #07cb79;
				line-height: 2.5;
				margin: 2% 7% 0 7%;
				font-weight: 600;
			}
			.site-content-edu-box h2 {
				font-size: 1.6em;
				margin: 0 7%;
			}
			.site-content-edu-box h3 {
				line-height: 4;
				font-weight: 300;
				font-size: 0.8em;
				margin: 0 7%;
			}
			.site-content-edu-space {
				background-color: #07cb79;
				opacity: 0.5;
				height: 0.3em;
				width: 3em;
			}
			
		/* Mobile Fix */
			@media only screen and (max-width: 800px) {
				.site-content-about-me {
					display: block;
				}
				.site-content-about-pic {
					padding-top: 30px;
				}
				.site-content-about-info-list li b {
					width: 40%;
				}
				.site-content-about-info-list li span {
					width: 60%;
				}
				.buttongroup h2 {
					margin: 1em 0.3em;
				}
				.poste {
					width: 98%;
					max-width: 98%;
				}
				.postimg {
					height: 50vh;
				}
				.site-content-services-box {
					-webkit-flex-flow: row wrap;
   					flex-flow: row wrap;
				}
				.site-content-box-int-main {
					width: 80% !important;
					-webkit-flex-flow: row wrap;
   					flex-flow: row wrap;
				}
				.site-content-box-int {
					flex: 1 1 30% !important;
				}
				.front_input {
					height: inherit;
				}
				.site-header-menu-mobile-but {
					display: block !important;
					position: absolute;
					top: 1.2em;
					right: 1em;
					left: auto;
					border: 2px solid #767475;
					border: 2px solid rgba(255, 255, 255, 0.15);
					border-radius: 2px;
					font-size: 1.1em;
					color: #fff;
					text-align: center;
					cursor: pointer;
					padding: 0.3em 0.4em;
					font-weight: 600;
					text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
				}
				.site-header-menu-mobile-logo {
					display: block !important;
					position: absolute;
					top: 1em;
					left: 0.5em;
					font-size: 1.3em;
					color: #07cb79;
					text-align: center;
					cursor: pointer;
					padding: 0.3em;
					font-weight: 600;
					text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
				}
				.site-content {
					width: 95%;
				}
				.menu-close-but {
					display: block !important;
					position: absolute;
					top: 0.3em;
					right: 0.3em;
					font-size: 0.7em;
					cursor: pointer;
				}
				.site-content-edu-box-main {
					display: block;
				}
				.site-content-edu-space {
					background-color: #07cb79;
					opacity: 0.5;
					height: 2em;
					width: 0.3em;
					margin: 0 auto;
				}
				.site-content-edu-box {
					width: 90%;
				}
				.back-to-top {
					bottom: 0.2em !important;
					right: 0.2em !important;
					font-size: 2.5em !important;
				}
				
				.site-content-port-overlay {
					left: 50%;
					margin-left: -47.5%;
					width: 95%;
					top: 2.5em;
				}
				.site-content-port-overlay-close {
					display: none;
				}
				.site-content-port-overlay-title {
					font-size: 1.2em;
				}
			}
		
		/* Defaults */	
			.int-box-main h1 {
				width: 80%;
				margin: 0 auto;
				padding: 1.2em 0;
				font-size: 1.1em;
				font-weight: 300;
				line-height: 1.7;
				text-align: center;
			}
			.site-content-box-int-main {
				display: -webkit-flex;
				display: flex;
				width: 50%;
				margin: 0 auto;
				padding-bottom: 1.5em;
				position: relative;
			}
			.site-content-box-int {
				flex: 1 1 100%;
				text-align: center;
			}
			.site-content-box-int i {
				box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.05);
				color: #07cb79 !important;
				border: 1px solid #cbcdcf;
				background: transparent;
				text-transform: uppercase;
				padding: 1em;
				font-weight: 600;
				font-size: 1.1em;
				cursor: pointer;
				margin: 15px auto;
				border-radius: 2px;
			}
			.site-content-box-int span {
				opacity: 0;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0.7em auto;
				border-radius: 0.2em;
				color: #000;
				line-height: 1.1;
				width: 100%;
				transition: opacity 300ms linear 200ms;
			}
			.site-content-box-int:hover span {
				opacity: 1;
			}
			
			.site-header-menu-mobile {
				background-color: rgba(0, 0, 0, 0);
				height: 100vh;
				width: 100vw;
				display: none;
				z-index: 9999;
			}
			.site-header-menu-mobile nav {
   				background-color: #07cb79;
				color: #000;
				height: 100vh;
				width: 65vw;
				position: absolute;
				top: 0;
				right: -100vw;
				-webkit-transition: all 0.5s ease-out;
				-moz-transition: all 0.5s ease-out;
				transition: all 0.5s ease-out;
			}
			.site-header-menu-mobile nav ul {
				display: block;
				width: 100%;
				margin-top: 0.5em;
			}
			.site-header-menu-mobile nav ul li {
				text-align: left;
				margin-left: 1em;
			}
			.site-header-menu-mobile nav ul li a:after {
				width: 0%;
				background-color: transparent;
			}
			.back-to-top {
				position: fixed;
				bottom: 1em;
				right: 1em;
				font-size: 3em;
				color: #07cb79;
				text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
				cursor: pointer;
				z-index: 9999;
			}
			.success {
				line-height: 1;
			}
